<h1>School Class Form</h1>
<%= form_for (@schoolclass) do |schoolclass| %>

  <%= schoolclass.text_field :title %>
  <%= schoolclass.text_field :room_number %>
  <%= schoolclass.submit "Create School class" %>

<% end %>
