<h2>School class Title:</h2>
<p><%=@school_class.title%></p>
<h2>Room number:</h2>
<p><%=@school_class.room_number%></p>

<p> <%= link_to "Update", edit_school_class_path %> </p>
<p><%= link_to "Show all classes", school_classes_path %></p>
